<!--
  Generated template for the MensagensProximasPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
 <ion-header>
  <ion-navbar primary-dark>
    <ion-title>Mensagens Próximas</ion-title>
  </ion-navbar>
 </ion-header>

<ion-content padding class="mensagens-proximas">

  <ion-card *ngFor="let msg of messages" (click)="openDetalhesMensagemPage(msg)">
    <ion-card-header>
       Linha {{msg.linhaOnibus}}
    </ion-card-header>

    <ion-item text-wrap>
      <div item-left>
        <ion-avatar>
          <img src={{msg.avatarUrl}}>
        </ion-avatar>
        <ion-badge primary-light item-right>{{msg.distance | distanceToString}}</ion-badge>
      </div>

      <h4>por <em accent>{{msg.authorName}}:</em></h4>
      <h4>{{msg.detail}}</h4>
      <em dark>em {{msg.time | timeToString}}</em>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="zeroMessages()" (click)="openCriarMensagemPage()">
    <ion-card-header>
       Nenhuma mensagem próxima
    </ion-card-header>

    <ion-card-content padding-top>
      <h4>Não encontramos nenhuma mensagem próxima daqui.</h4>
      <h4></h4>
      <h4 primary-dark text-center>Toque aqui e crie a primeira!</h4>
    </ion-card-content>
  </ion-card>



</ion-content>

<ion-footer>
  <ion-toolbar position="bottom" style="margin-bottom: 0.5em;">
    <button accent block large (click)="openCriarMensagemPage()"><ion-icon name="add-circle"></ion-icon>Criar mensagem</button>
  </ion-toolbar>
</ion-footer>
