// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../pages/criar-mensagem/criar-mensagem';
@import '../pages/detalhes-mensagem/detalhes-mensagem';
@import '../pages/mensagens-proximas/mensagens-proximas';
@import '../pages/minhas-mensagens/minhas-mensagens';
@import '../pages/principal/principal';
@import '../pages/login/login';

// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
h3, h4 {
  padding-top: 4px !important;
}

ion-card ion-card-header {
  background-color: color($colors, primary, base);
  color: color($colors, primary, contrast);
  padding-top: 5px;
  padding-bottom: 5px;
}

$card-ios-margin-bottom: 15px;
$card-md-margin-bottom: 15px;

$card-md-box-shadow:  0 2px 2px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px rgba(0, 0, 0, .3), 0 1px 5px 0 rgba(0, 0, 0, .22);
$card-ios-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px rgba(0, 0, 0, .3), 0 1px 5px 0 rgba(0, 0, 0, .22);

$card-ios-border-radius: 3px;
$card-md-border-radius:  3px;

$button-ios-border-radius: 3px;
$button-md-border-radius:  3px;
