// http://ionicframework.com/docs/v2/theming/
@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.




// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.


$colors: (
  primary-dark:   (base: #303F9F, contrast: #ffffff),
  primary:        (base: #3F51B5, contrast: #ffffff),
  primary-light:  (base: #C5CAE9, contrast: #000000),
  accent:         (base: #009688, contrast: #ffffff),

  secondary:      #009688,
  danger:         #F44336,
  light:          #B6B6B6,
  dark:           #727272
);

/** ORANGE - BLUE
  primary-dark:   (base: #E64A19, contrast: #ffffff),
  primary:        (base: #FF5722, contrast: #ffffff),
  primary-light:  (base: #FFCCBC, contrast: #000000),
  accent:         (base: #448AFF, contrast: #ffffff),
*/

/** RED - BLUE
  primary-dark:   (base: #D32F2F, contrast: #ffffff),
  primary:        (base: #F44336, contrast: #ffffff),
  primary-light:  (base: #FFCDD2, contrast: #000000),
  accent:         (base: #448AFF, contrast: #ffffff),
*/

/** BLUE - RED
  primary-dark:   (base: #1976D2, contrast: #ffffff),
  primary:        (base: #2196F3, contrast: #ffffff),
  primary-light:  (base: #BBDEFB, contrast: #000000),
  accent:         (base: #FF5252, contrast: #ffffff),
*/

/** BLUE - DEEP ORANGE
  primary-dark:   (base: #1976D2, contrast: #ffffff),
  primary:        (base: #2196F3, contrast: #ffffff),
  primary-light:  (base: #BBDEFB, contrast: #000000),
  accent:         (base: #FF5722, contrast: #ffffff),
*/
