// http://ionicframework.com/docs/v2/theming/
@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.
$card-ios-margin-bottom: 15px;
$card-md-margin-bottom: 15px;

$card-md-box-shadow:  0 2px 2px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px rgba(0, 0, 0, .3), 0 1px 5px 0 rgba(0, 0, 0, .22);
$card-ios-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px rgba(0, 0, 0, .3), 0 1px 5px 0 rgba(0, 0, 0, .22);

$card-ios-border-radius: 3px;
$card-md-border-radius:  3px;

$button-ios-border-radius: 3px;
$button-md-border-radius:  3px;


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #536DFE,
  secondary:  #29BB42,
  danger:     #F44336,
  light:      #B6B6B6,
  dark:       #222,
  zapred:     #D32F2F
);
